@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --green:#69f0ae;
    --yellow:#f9ca24;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--yellow);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

body{
    background:#6c6a6a;
    background-image: url("https://zupimages.net/up/23/21/7ics.jpg");
    overflow: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}
.b{
    text-align: center;
    color: #cdf256;
  margin: 10px 10px; 
  
  font-size: 25px;
}
.head{
    text-align: center;
    margin-top:100px ;
    font-size: 40px;
    color : #fff;
}
header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:30rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.navbar{
    display: flex;
    flex-flow:column;

}

.nav{
   border-radius: 60px;
   width: 150px;
   height: 50px;
   border-color: rgb(28, 28, 42);
   margin-left: 40px;

}
.nav:hover{
    background-color: r#cdf256;
}
button{
    cursor: pointer;
    margin-top: 15px;
    background-color: rgb(89, 86, 98);
}
 


main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}


.form
{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    width: 60%;
    padding: 3%;
}

.btn{
	width: 250px;
	padding: 10px 20px;
	background-color:#053c87;
	font-size: 20px;
	border-radius: 30px;
	text-decoration: none;
	color: white;
	text-align: center;
	animation-name: headermain;
	animation-duration: 4.5s;
	animation-timing-function: ease;
    margin: 10px;
}
.input-group, .textarea-group
{
    padding: 4% 0;
    
}

input, textarea
{
    color: wheat;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding: 1.5%;
    font-size: 15px;
}

input:focus, textarea:focus
{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid #cdf256;
}

input::placeholder, textarea::placeholder
{
    color: transparent;
}

label
{
    color: #757575;
    position: relative;
    left: 0.5em;
    top: -2em;
	cursor: auto;
    transition: 0.3s ease all;
}

input:focus ~ label, input:not(:placeholder-shown) ~ label
{ 
    top: -4em;
    color: #cdf256;
    font-size: 15px;
}

textarea:focus ~ label, textarea:not(:placeholder-shown) ~ label
{
    top: -10.5em;
    color: #cdf256;
    font-size: 15px;
}

.button-div
{
    display: flex;
    justify-content: center;
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.container {
    background-color: #0c0c0c;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
  }
@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }